@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url("https://images.unsplash.com/photo-1607969892192-8aa9fe65ee26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d29ya2VyJTIwaG9yaXplbnRhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(20px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
